

{% extends 'base_front.html.twig' %}


{% block body %}

    <h1 style="text-align: center">Les voitures disponibles</h1>
{#    <form method="POST" action="{{ path('voiture_list') }}">#}
{#        <h3>Rechercher</h3>#}

{#        <label>Model</label>#}

{#        #}{#        <select name="idModel">#}
{#        #}{#                {% for voiture in voitures %}#}
{#        #}{#                <option value="{{ voiture.idModel }}">{{ voiture.idModel.model }}</option>#}
{#        #}{#                {% endfor %}#}
{#        #}{#        </select>#}
{#        <label>Couleur</label>#}

{#        <select name="couleur">#}
{#            {% for voiture in voitures %}#}
{#                <option {{ voiture.couleur }}>{{ voiture.couleur }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <label>Marque</label>#}

{#        <label>Tarif</label>#}
{#        <input type="number"  name="tarif">#}
{#        <input type="submit" value="rechercher">#}
{#    </form>#}

        <div class="container px-4 px-lg-5">

    {{ form_start(form, {'attr': {'class': 'form-valide'}}) }}


    <div class="form-group row">
        <label  for="form_couleur">Couleur <span class="text-danger">*</span></label>
        <div class="col-lg-1">
            {{ form_widget(form.couleur, {'attr': {'class': 'form-control', 'id': 'form_couleur'}}) }}
            {{ form_errors(form.couleur) }}
        </div>
    </div>


    <div class="form-group row">
        <label for="form_id_Model">Model <span class="text-danger">*</span></label>
        <div class="col-lg-1">
            {{ form_widget(form.id_Model, {'attr': {'class': 'form-control', 'id': 'form_id_Model'}}) }}
            {{ form_errors(form.id_Model) }}
        </div>
    </div>


    <div class="form-group row">
        <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    {{ form_end(form) }}

</div>

    <div class="container">
        <div class="container-fluid mt-3">
            <div class="row">
                {% for voiture in voitures %}
                    <div class="col-lg-3 col-sm-6 mb-3"> <!-- Add mb-3 for some spacing between rows -->
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="mt-3 mb-1">Model :{{ voiture.idModel.model }}</h5>
                                    <img class="card-img-top" src="{{ asset('image/' ~ voiture.image) }}" />
                                    <p class="m-0">tarif : {{ voiture.tarif }} dt</p>
                                    <p class="m-0">couleur :{{ voiture.couleur }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    <div>#}
{#        {% for car in cars %}#}
{#            <p>Model :{{ car.idModel.model }}</p>#}
{#            <p>tarif : {{ car.tarif }} dt</p>#}
{#            <p>couleur :{{ car.couleur }} </p>#}
{#        {% endfor  %}#}
{#    </div>#}
{% endblock %}





