{# templates/voiture/new.html.twig #}
{% extends 'base_admin_back.html.twig' %}



{% block body %}
    <h1>Créer une nouvelle voiture</h1>
    {{ form_start(form, {'attr': {'class': 'form-valide'}}) }}
    <div class="form-group row">
        <label class="col-lg-4 col-form-label" for="form_tarif">Tarif <span class="text-danger">*</span></label>
        <div class="col-lg-6">
            {{ form_widget(form.tarif, {'attr': {'class': 'form-control', 'id': 'form_tarif'}}) }}
            {{ form_errors(form.tarif) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-4 col-form-label" for="form_couleur">Couleur <span class="text-danger">*</span></label>
        <div class="col-lg-6">
            {{ form_widget(form.couleur, {'attr': {'class': 'form-control', 'id': 'form_couleur'}}) }}
            {{ form_errors(form.couleur) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label" for="form_couleur">Couleur <span class="text-danger">*</span></label>
        <div class="col-lg-6">
            {{ form_row(form.image) }}


        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-4 col-form-label" for="form_id_Model">Model <span class="text-danger">*</span></label>
        <div class="col-lg-6">
            {{ form_widget(form.id_Model, {'attr': {'class': 'form-control', 'id': 'model_dropdown'}}) }}
            {{ form_errors(form.id_Model) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label" for="form_id_Model">Marque <span class="text-danger">*</span></label>
        <div class="col-lg-6">
            {{ form_widget(form.marque, {'attr': {'class': 'form-control', 'id': 'my_marque'}}) }}
            {{ form_errors(form.marque) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}
    <a href="{{ path('admin_voiture_index') }}" class="btn btn-warning">back to list</a>

    <script>

        $(document).ready(function() {
            console.log("ready!");

            $("#my_marque").on("change", function() {
                var marqueId = $("#my_marque").val();
                console.log(marqueId);

                $.ajax({
                    type: "POST",
                    url: 'ajax/getListeModel',
                    data: {'id': marqueId},
                    success: function(response) {
                        console.log(response); // Handle the response

                        // Clear previous options
                        $("#model_dropdown").empty();

                        // Populate dropdown with new options
                        response.forEach(function(model) {
                            $("#model_dropdown").append(new Option(model.name, model.id));
                        });
                    },
                    error: function(response) {
                        console.log(response); // Log any error
                    }
                });
            });
        });

    </script>
{% endblock %}
